@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <img src="@Url.Content("~/images/meme.png")" style="width: 400px; height: 500px;" alt="Meme favorito" />

    <div class="mt-4">
        <input type="text" id="campoTexto" class="form-control mb-3" placeholder="Escribe algo..." />

        <button class="btn btn-outline-info btn-lg" onclick="mostrarAlerta()">
            Mostrar mensaje
        </button>
    </div>
</div>

@section Scripts {
    <script>
        function mostrarAlerta() {
            var valorTexto = document.getElementById("campoTexto").value;
            alert("Mi nombre es Javier Arias, mi hobbie es tocar guitarra y el valor del campo de texto es: " + valorTexto);
        }
    </script>
}
